doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="main.css")
    title Заголовок
  body
    h1.unvis Диалоговое окно
    .dialog
      .dialog__bg
      form.dialog__form.form
        h2.form__title Get iintoo it today
        p.form__text.form__text--title There is no charge or obligation upon registration.
        button.form__btn.form__btn--fb Register with Facebook
        button.form__btn.form__btn--in Register with LinkedIn
        p.form__text.form__text--separator OR
        .form__input.form__input--email
          input#email.input(type="email", placeholder="gus.goodwin@gmail.com", autocomplete="off")
          label.input__label(for="email") Email
        .form__input.form__input--phone
          input#phone.input.input--phone(type="text", autocomplete="off")
          label.input__label Phone
        p.form__text.form__text--ask What type of investor are you?
        p.form__text.form__text--choice Select the type of investor are below
        ul.form__list.list
          li.list__item
            input#individual.list__input(type="radio", name="choice" checked)
            label.list__label(for="individual") Individual
          li.list__item
            input#business.list__input(type="radio", name="choice")
            label.list__label(for="business") Business
          li.list__item
            input#ira.list__input(type="radio", name="choice")
            label.list__label(for="ira") IRA
          li.list__item
            input#trust.list__input(type="radio", name="choice")
            label.list__label(for="trust") Trust
        p.form__text.form__text--tip I am a natural person investing on my own behalf as a sole owner, join tenant, or tennant in common
        label.form__agree.agree
          input#agree.agree__input(type="checkbox", name="")
          span.agree__text I agree to the terms and receiving notifications iintoo&nbsp;
          a.aree__link(href="http://") View full terms
        button.form__btn.form__btn--create Create account

