doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="main.css")
    title Заголовок
  body
    h1.unvis Диалоговое окно
    .dialog
      .dialog__bg
      form.dialog__form.form
        h2.form__title Get iintoo it today
        button.form__btn.form__btn--fb
        button.form__btn.form__btn--in
        p or
        input.form__input(type="email", name="")
        input.form__input(type="number", name="")
        p What type of investor are you?
        p Select the type of investor are below
        ul
          li
            input(type="radio", name="")
          li
            input(type="radio", name="")
          li
            input(type="radio", name="")
          li
            input(type="radio", name="")
        p I am a natural person investing on my own behalf as a sole owner, join tenant, or tennant in common
        label
          input(type="checkbox", name="")
          |  I agree to the terms and receiving notifications iintoo
          a(href="http://") View full terms
        button.form__btn.form__btn--create Create account

